#grid-container {
    display: grid;
}r

.card {
    display: inline;
}

img:hover {
    filter: brightness(.3);
    cursor: pointer;
}
svg {
    float: right;
}

header {
    background-color: rgb(24, 22, 22);
    color: silver;
    height: 60px;
}